// Colors
$red: rgb(255, 10, 71);
$yellow: rgb(255, 216, 1);;
$black-background: rgb(30, 30, 30);
$text-color: rgb(30, 30, 30);
$white-background: #fff;

// Typography
$futura-pt: 'Futura PT', sans-serif;
$tt-norms-pro: 'TT Norms Pro', sans-serif;
