// Colors
$red: rgb(255, 10, 71);
$yellow: rgb(255, 216, 1);
$white: #fff;
$whitePlaceholder: rgba(255, 255, 255, 1);
$black: rgb(30, 30, 30);
$darkGray: rgba(71, 71, 71, 1);
$gray: rgba(150, 150, 150, 1);


$btn-red: rgb(255, 10, 71);
$btn-white: #fff;
$btn-black: rgb(30, 30, 30);

$black-background: rgb(30, 30, 30);
$white-background: #fff;

$text-color: rgb(30, 30, 30);

// Typography
$futura-pt: 'Futura PT', sans-serif;
$tt-norms-pro: 'TT Norms Pro', sans-serif;