@use './reset' as *;
@use './variables' as *;
@use './breakpoints' as *;
@use './fonts' as *;
@use './mixins' as *;

body {
  font-family: $futura-pt;
  font-size: 16px;
  font-weight: 400;
  color: $text-color;
  background-color: $white-background;
  &.no-scroll {
    overflow: hidden;
  }
}
a {
  text-decoration: none;
}
.painted {
  background-color: $yellow;
  box-shadow: -6px 0 0 $yellow, 6px 0 0 $yellow;
  box-decoration-break: clone;
  padding: 0 5px;
}

.container {
  width: clamp(320px, 90%, 691px);
  margin: 0 auto !important;
  overflow: visible;
}
@include min-width($bp-md) {
  body.no-scroll {
    overflow: auto;
  }
}
@include min-width($bp-lg) {
  .container {
    width: clamp(1024px, 61%, 1920px);
  }
}


